.FriendListItem {
  background-color: #fff;
  border: 1px solid #cecece;
  display: flex;
  align-items: center;
  padding: 15px;
  min-height: 78px;
  max-width: 350px;
}

.FriendListItem:not(:last-child) {
  margin-bottom: 24px;
}

.statusOffline {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
}

.statusOnline {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

.avatar {
  margin: 0 15px;
  border-radius: 10px;
  display: block;
  width: 48px;
  height: 48px;
}
.name {
  font-weight: bold;
  font-size: 24px;
}
