.block {
  background-color: #fff;
  border: 1px solid #cecece;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
}

.title {
  padding: 24px;
  text-transform: uppercase;
  font-size: 34px;
  margin: 0;
  text-align: center;
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #d9e4eb;
}

.listItem {
  display: inline-block;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  padding: 40px;
  font-weight: 700;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 22px;
}

.listItem:not(:last-child) {
  border-right: 1px solid #cecece;
}
